<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<h1>Cadastro de Professor</h1>
<!--Manter Usuario Professor - RF01-->
<br>

<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    <button ng-click="doLogin()">LOGIN</button>&nbsp;&nbsp;
    <button ng-click="doLogout()">LOGOUT</button><br><br>
    Nome: <input type="text" ng-model="nome"><br><br>
    Turma: <input type="text" ng-model="turma"><br><br>
    <button ng-click="acessa()">ACESSA</button> &nbsp;
    <button ng-click="insere()">INSERE</button> &nbsp;
    <button ng-click="atualiza()">ATUALIZA</button> &nbsp;
    <button ng-click="remove()">REMOVE</button> &nbsp;
  </form>

  <br><br>
  Resultado: {{mensagem}}
  
  <br><br>
  <table cellspacing="8">
    <tr><th>{{hnome}}</th> <th>{{hturma}}</th></tr>
    <tr ng-repeat="x in professor">
      <td>{{ x.nome }}</td>
      <td>{{ x.turma }}</td>
    </tr>
  </table>

</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  // LOGIN
  $scope.doLogin = function() {
     window.open("/authentication", "_blank");
  }

  // LOGOUT
  $scope.doLogout = function() {
     $scope.clear();
     var request = $http({
                 "method": "delete",
                 "url": "/authentication"});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
     }
   );
 };


  // ACESSA
  $scope.acessa = function() {
    $scope.clear();
      if ($scope.nome == undefined || $scope.nome.length == 0 ||
          $scope.turma == undefined || $scope.turma.length == 0 ) {
             $scope.clear();
             $scope.mensagem = "Preencha todos os campos acima";
             return;
      }
     var url = "/professor";
     if ($scope.nome != undefined) url = "/professor/" + $scope.nome;
     var request = $http({
                 "method": "get",
                 "url": url});
     request.success(function(reply) {
        if(reply.professor != null) {
          $scope.hnome = "Professor";
          $scope.hturma = "Turma";
          $scope.mensagem = "";
          $scope.professor = reply.professor;
          } else {
              $scope.clear();
              $scope.mensagem = reply.resultado;
            }
         }
      );
      request.error(function(reply) {
         alert("Falha na requisicao");
      }
    );
  };

  // INSERE
  $scope.insere = function() {
      if ($scope.nome == undefined || $scope.nome.length == 0
          $scope.turma == undefined || $scope.turma.length == 0){
             $scope.clear();
             $scope.mensagem = "Preencha todos os campos acima";
             return;
      }
      var data = {"nome": $scope.nome,
                  "turma": $scope.turma};
      var request = $http({
                 "method": "post",
                 "url": "/professor",
                 "data": data});
      request.success(function(reply) {
        $scope.mensagem = reply.resultado;
        }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
      }
    );
  };

  // ATUALIZA
  $scope.atualiza = function() {
     $scope.clear();
     if (($scope.nome == undefined || $scope.nome.length == 0) &&
          ($scope.turma == undefined || $scope.turma.length == 0 )){
             $scope.clear();
             $scope.mensagem = "Preencha os campos acima";
             return;
     }
     var data = {"nome": $scope.nome,
                 "turma": $scope.turma};
     var request = $http({
                 "method": "put",
                 "url": "/professor/" + $scope.nome,
                 "data": data});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
         }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
       }
    );
  };

  // REMOVE
  $scope.remove = function() {
     $scope.clear();
     if ($scope.nome == undefined || $scope.nome.length == 0) {
         $scope.clear();
         $scope.mensagem = "Preencha o nome do professor";
         return;
     }
     var request = $http({
                 "method": "delete",
                 "url": "/professor/" + $scope.nome});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
       }
     );
     request.error(function(reply) {
        alert("Falha na requisicao");
       }
     );
   };

  // CLEAR
  $scope.clear = function() {
    $scope.professor = [];
    $scope.mensagem = "";
    $scope.hnome = $scope.hturma = "";
    }
  }
);
</script> 

</body>
</html>