<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<h1><center>TECOLES</center></h1>
<p><center>Sistema de Teste de Competencia de Leitura Silenciosa</center></p>
<br>
<h1>Cadastro de Professores</h1>

<br>

<div ng-app="myApp" ng-controller="myCtrl">
  <form>
    <!--button ng-click="doLogin()">LOGIN</button>&nbsp;&nbsp;
    <button ng-click="doLogout()">LOGOUT</button><br><br-->
    Turma: <input type="text" ng-model="turma"><br><br>
    Nome: <input type="text" ng-model="nome"><br><br>
   <button ng-click="acessa()">ACESSA</button> &nbsp;
    <button ng-click="insere()">INSERE</button> &nbsp;
    <button ng-click="atualiza()">ATUALIZA</button> &nbsp;
    <button ng-click="remove()">REMOVE</button> &nbsp;
  </form>
  <br>

  <a href="/home.html"><button>HOME</button></a>&nbsp;

  <br><br>

  <b>Resultado:</b> {{mensagem}}

  <br><br>
  <table cellspacing="8">
    <tr> <th>{{hturma}}</th>  <th>{{hnome}}</th></tr>
    <tr ng-repeat="x in professor">
      <td>{{ x.turma }}</td>
      <td>{{ x.nome }}</td>
    </tr>
  </table>

</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  // LOGIN
  $scope.doLogin = function() {
     window.open("/authentication", "_blank");
  }

  // LOGOUT
  $scope.doLogout = function() {
     $scope.clear();
     var request = $http({
                 "method": "delete",
                 "url": "/authentication"});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
     }
   );
 };


  // ACESSA
  $scope.acessa = function() {
     var url = "/professor";
     if ($scope.turma != undefined) url = "/professor/" + $scope.turma;
     var request = $http({
                 "method": "get",
                 "url": url});
     request.success(function(reply) {
        if(reply.professor != null) {
          $scope.hturma = "Turma";
          $scope.hnome = "Professor";
          $scope.mensagem = "";
          $scope.professor = reply.professor;
          } else {
              $scope.clear();
              $scope.mensagem = reply.resultado;
            }
         }
      );
      request.error(function(reply) {
         alert("Falha na requisicao");
      }
    );
  };

  // INSERE
  $scope.insere = function() {
      $scope.clear();
      if ($scope.turma == undefined || $scope.turma.length == 0 ||
          $scope.nome == undefined || $scope.nome.length == 0) {
             $scope.clear();
             $scope.mensagem = "Preencha todos os campos acima";
             return;
      }
      var data = {"turma": $scope.turma,
                  "nome": $scope.nome};
      var request = $http({
                 "method": "post",
                 "url": "/professor",
                 "data": data});
      request.success(function(reply) {
        $scope.mensagem = reply.resultado;
        }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
      }
    );
  };

  // ATUALIZA
  $scope.atualiza = function() {
     $scope.clear();
     if (($scope.turma == undefined || $scope.turma.length == 0) &&
         ($scope.nome == undefined || $scope.nome.length == 0)) {
             $scope.clear();
             $scope.mensagem = "Preencha turma e pelo menos um campo acima";
             return;
     }
     var data = {"turma": $scope.turma,
                 "nome": $scope.nome};
     var request = $http({
                 "method": "put",
                 "url": "/professor/" + $scope.turma,
                 "data": data});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
         }
      );
      request.error(function(reply) {
        alert("Falha na requisicao");
       }
    );
  };

  // REMOVE
  $scope.remove = function() {
     $scope.clear();
     if ($scope.turma == undefined || $scope.turma.length == 0) {
         $scope.clear();
         $scope.mensagem = "Preencha o turma do professor";
         return;
     }
     var request = $http({
                 "method": "delete",
                 "url": "/professor/" + $scope.turma});
     request.success(function(reply) {
         $scope.mensagem = reply.resultado;
       }
     );
     request.error(function(reply) {
        alert("Falha na requisicao");
       }
     );
   };

  // CLEAR
  $scope.clear = function() {
    $scope.professores = [];
    $scope.mensagem = "";
    $scope.hturma = $scope.hnome = "";
    }
  }
);
</script>

</body>
</html>
